@font-face{
    font-family: 'montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'montserrat';
    font-weight: 700;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  }

  @font-face{
    font-family: 'product sans';
    font-weight: 400;
    src: url('../fonts/productsans/Product-Sans-Regular.ttf') format('truetype');
  }
